body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #313c5d;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    
    background-color: #97a2c6;

    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items:center; 
    gap: 30px; 
}

.detail-content {
    flex: 1; 
    text-align: center;
}

.detail-img {
    width: 300px; 
    height:fit-content; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    
    background-color: #ffffff; 
}

.home-btn {
    background-color: #546197;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.home-btn:hover {
    background-color: #218838;
}